{% extends "main.html" %}
{% block content %}
{% include "header_title.html" %}
<div class="row">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Series {{ series.name }}
			<figure class="creator">
				<img src="{{ creator.picture}}">
				<figcaption>{{ creator.name }}</figcaption>
			</figure>
			</h1>

		</div>
	</div>
<h1>New Volume</h1>



<form action = "#" method = "post" enctype="multipart/form-data">
<p>Title: </p>
<input type = "text" name = "title" size = "100">
<p>Author: </p>
<input type = "text" name = "author" size = "30">
<p>Price: </p>
<input type = "text" name = "price" size = "10">
<p>Description: </p>
<input type = "text" name = "description" size = "60">
<p>Topic: </p>
<input type = "text" name = "topic" size = "60">
<input type="file" name="picture_file">
<input type = "submit" value = "submit">
</form>

 
{% endblock %}