{% extends "main.html" %}
{% block content %}
{% include "header.html" with context%}



	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<!-- <h1>CLUEB Publisher Catalogue</h1> -->
		</div>
	</div>
		
	


{% with messages = get_flashed_messages() %}
{% if messages %}
	<ul>
	{% for message in messages %}
	   <li><strong>{{ message }}</strong></li>
	{% endfor %}
	</ul>
{% endif %}
{% endwith %}
<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href = "{{url_for( 'newSeries')}}">
				<button class="btn btn-default" id="new-restaurant">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>New Series
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>

{% for i in series %}
<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 restaurant-list">
						<h3>{{i.name}}</h3>
						<p><bold>Description</bold>: {{i.description}}<br />
						<bold>Directed by</bold> {{i. director}}</p>
					</div>
				<div class="col-md-1">
					<a href = "{{url_for('editSeries', series_id=i.id)}}">Edit</a><br />
					<a href = "{{url_for('deleteSeries', series_id=i.id)}}">Delete</a><br />
					<a href = "{{url_for('showTitles', series_id=i.id)}}">See the volumes</a>
				</div>
			</div>



{% endfor %}


{% endblock %}